nav {
    text-align: center;
}
 .flex-container{
   display:flex;
   text-align: center; 
 }
   body{
    background: #cccccc;
background: radial-gradient(circle, rgba(204, 204, 204, 1) 48%, rgba(148, 187, 233, 1) 100%);

}
.hero-container{
  margin-left: 40px;
  margin-top: 30px;
   position: relative ;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 30%; 
  transform: translate(-50%, -50%);  
  color: #070707; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center; 
  margin-left: 6px;
}
/* https://www.bannerbear.com/blog/how-to-overlay-text-on-an-image-in-html-and-css/#:~:text=Overlaying%20Text%20on%20an%20Image%20in%20HTML%20and%20CSS,-HTML&text=In%20the%20body%20section%2C%20create,and%20add%20your%20text%20inside.&text=We%20know%20that%20in%20real,to%20contain%20an%20image%20only. */

h1{
  font-family: raleway;
  margin-left: 150px;
  margin-top: 20px;
}
#info{
  text-align: center;
}