nav {
    text-align: center;
    a:hover{
      color:#170e94
    
    }
    font-size: medium;
    
    border-radius: 50%;
    font-family: savate ;
    ;
}
nav a{
background-color: #cd7ed3;
color: black;
text-decoration: none;
padding: 5px;
border-radius: 2px;

}
 .flex-container{
   display:flex;
   text-align: center; 
   justify-content: center;
 }
   body{
    background: #cccccc;
background: radial-gradient(circle, rgba(204, 204, 204, 1) 48%, rgba(148, 187, 233, 1) 100%);

}
.hero-container{
  margin-left: 40px;
  margin-top: 30px;
   position: relative ;
  display: inline-block;
  filter: drop-shadow(9px 5px 3px #5f5d5f);
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 30%; 
  transform: translate(-50%, -50%);  
  color: #070707; 
  padding: 10px 20px; 
  font-size: 19px; 
  text-align: center; 
  margin-left: 6px;
  filter: drop-shadow(6px 3px 4px #5f5d5f);
}
/* https://www.bannerbear.com/blog/how-to-overlay-text-on-an-image-in-html-and-css/#:~:text=Overlaying%20Text%20on%20an%20Image%20in%20HTML%20and%20CSS,-HTML&text=In%20the%20body%20section%2C%20create,and%20add%20your%20text%20inside.&text=We%20know%20that%20in%20real,to%20contain%20an%20image%20only. */

h1{
  font-family: raleway;
  margin-top: 20px;
  filter: drop-shadow(2px 3px 1px #cd7ed3);
  text-align: center;
}
#info{
  text-align: center;
  margin-top: 50px;
 filter: drop-shadow(2px 3px 1px #cd7ed3); 
}
.card{
  filter: drop-shadow(9px 5px 3px #5f5d5f);
}
button:hover{
  background-color:#cd7ed3
}
.btn:hover{
  background-color:#cd7ed3;
  color:black ;
  /* color:rgb(64, 64, 229, 0.8) */
  
}

